body {
    font-family: 'Lato', serif;
    /* Background pattern from Toptal Subtle Patterns */
    background: #fbecd9 url("../img/broken-noise.jpg") repeat;
    color: #29271b;
    margin: 3rem 0;
    font-size: 18px;
    text-align: justify;
}

header,
section {
    margin-bottom: 3rem;
}

.container {
    margin-bottom: 6rem;
}

.name {
    margin-top: 2em;
    text-align: center;
}

.name h1 {
    font-size: 3em;
}

.name a {
    text-decoration: none;
}

#heroImage {
    background-image: url('../img/lighthouse-compressor.jpg');
    background-position: 0% 30%;
    background-size: 100vw;
    width: 100%;
    height: 30vw;
    margin-bottom: 3rem;
}

.parallelogram {
	width: 100px;
	height: 25px;
	transform: skew(-30deg);
    background: #6d485b;
    margin: 2em auto 2em auto;
}

/* Remove dotted outline after switching focus. */
section:focus {
    outline: none;
}

h1,
h2,
h3 {
    font-family: 'Rufina', sans-serif;
    color: #6d485b;
}

nav .button {
    border: 0;
    border-bottom: 4px solid #83d0bf;
    border-radius: 0;
    /* background-color: rgba(208, 225, 191, 0.53); */
    width: 100%;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Text color */
    cursor: pointer;
    background-color: rgba(131, 208, 191, 0.8);
    border: none;
    border-bottom: 4px solid #83d0bf;
    border-radius: 0;
    font-family: 'Lato', serif;
    color: #29271b;
}

#myBtn:hover {
    border-color: #888;
}

#about img {
    border-radius: 50%;
}

@media (max-width: 976px) {
    #about img {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .name h1 {
        font-size: 2em;
    }

    .container h3 {
        font-size: 1.9rem;
        letter-spacing: 0.2em;
        font-weight: 600;
        text-align: left;
    }
    
}

a img {
    border: 1px solid #aaa;
}

a img:hover {
    box-shadow: 0 0 2px 1px rgba(131, 208, 191, 1);
}

/* Add a bit of space at the bottom so the 'Top' button doesn't cover any text. */
.projectPage {
    margin-bottom: 4em;
}

.footer {
    color: #777;
    font-size: 11px;
    font-family: 'Lato', serif;
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.footer a:link,
.footer a:visited {
    color: #777;
    text-decoration: none;
}
.footer a:hover {
    color: #4d8c7e;
    text-decoration: none;
}

/* Begin Skeleton overrides */
h1 {
    font-weight: 600;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

h4 {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
    color: #444;
    margin-bottom: 0.2em;
}

section a:link,
section a:visited,
section a:hover {
    color: #4d8c7e;
}

.u-pull-left {
    margin-right:20px;
}
/* End Skeleton overrides */
